{% extends 'base.html' %}

{% block title %}Home - {{ super() }}{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">Наш каталог одежды насчитывает:</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ models_count }} моделей одежды</h3>
                        <p class="card-text">Средняя стоимость: {{ "{:,.2f}".format(average_cost) }} руб.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ patterns_count }} выкроек</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <h3>Статистика:</h3>
            <ul class="list-group">
                {% for name, count in categories_count.items() %}
                    <li class="list-group-item">Количество моделей в категории '{{ name }}': {{ count|default(0) }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
